@model Langtang.DataAccessLayer.ViewModel.ViewList
@{
    ViewBag.Title = "ViewSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
</div>
<div class="row">
    <div class="box">
              <table class="table-bordered  table-condensed table-responsive">
            <thead>
                <tr class="danger">
                    <td>Select</td>
                    <th>First Name</th>
                    <th> Last Name</th>
                    <th>SMO Relationship</th>
                    <th>Investigation Type</th>
                    <th>Personal Category</th>
                    <th>Position Sensitivity</th>
                    <th>NDA</th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listView)
                {
                <tr>
                    <td>@Html.CheckBoxFor(x => item.isSelected, new { value = item.ProfileID })</td>
                    <td> @item.FirstName </td>
                    <td> @item.LastName </td>
                    <td> @item.SMORelationship </td>
                    <td>  @item.InvestigationType</td>
                    <td>@item.PersonalCategory </td>
                    <td>  @item.PositionSensitivity</td>
                    <td>@item.NDA </td>
                    }
                    <td> <input type="button" class="btn btn-group-justified" value="SCAR" /> </td>
                    <td> <input type="button" class="btn btn-group-justified" value="Update" /> </td>
                    <td><a href="~/SCAR/Index/@item.ProfileID" class="btn btn-info">SCAR</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $('input[type="checkbox"]').on('change', function () {
        $('input[type="checkbox"]').not(this).prop('checked', false);
    });
</script>