@model Langtang.DataAccessLayer.ViewModel.ViewList
@{
    ViewBag.Title = "ViewSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @if (Model.listView.Count != 0)
    {
        @(Html.Kendo().Grid(Model.listView)
            .Name("vPersonnalGrid")
            .Columns(c =>
            {
                c.Bound(model => model.DOB).Format("{0: yyyy-MM-dd}") ;
                c.Bound(model => model.POB);
                c.Bound(model => model.SMORelationship);
                c.Bound(model => model.InvestigationType);
                c.Bound(model => model.PersonalCategory);

                c.Command(cmd => cmd.Edit());
                c.Command(cmd => cmd.Custom("Detail"));
            })
        .HtmlAttributes(new { style = "height: 550px;" })
        .Scrollable()
        .Groupable()
        .Sortable()
        .Filterable(filterable => filterable
        .Extra(false)
        .Operators(operators => operators
        .ForString(str => str.Clear()
        .StartsWith("Starts with")
        .IsEqualTo("Is equal to")
        .IsNotEqualTo("Is not equal to")
            ))
        )
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("Index", "Search"))
        .Model(model => model.Id(p => p.ProfileID))
        .PageSize(10)
        .ServerOperation(true)

        
        )

        )

    }
</div>
<div class="row">
    <div class="box">
              <table class="table-bordered  table-condensed table-responsive">
            <thead>
                <tr class="danger">
                    <td>Select</td>
                    <th>First Name</th>
                    <th> Last Name</th>
                    <th>SMO Relationship</th>
                    <th>Investigation Type</th>
                    <th>Personal Category</th>
                    <th>Position Sensitivity</th>
                    <th>NDA</th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.listView)
                {
                <tr>
                    <td>@Html.CheckBoxFor(x => item.isSelected, new { value = item.ProfileID })</td>
                    <td> @item.FirstName </td>
                    <td> @item.LastName </td>
                    <td> @item.SMORelationship </td>
                    <td>  @item.InvestigationType</td>
                    <td>@item.PersonalCategory </td>
                    <td>  @item.PositionSensitivity</td>
                    <td>@item.NDA </td>
                    }
                    <td> <input type="button" class="btn btn-group-justified" value="SCAR" /> </td>
                    <td> <input type="button" class="btn btn-group-justified" value="Update" /> </td>
                    <td><a href="~/SCAR/Index/@item.ProfileID" class="btn btn-info">SCAR</a></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.js"></script>
<script>
    $('input[type="checkbox"]').on('change', function () {
        $('input[type="checkbox"]').not(this).prop('checked', false);
    });
</script>